main section:nth-child(2n) {
  background-color: turquoise;
}

main section:nth-child(2n+1) {
  background-color: lightpink;
}

/* Grid: AREAS */
main{
  display:grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-areas: 
  'datos datos datos datos datos datos'
  'habil habil habil cono cono cono'
  'traj traj prog prog proyec proyec'
  'idioma idioma idioma medios medios medios';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#datosgenerales{
  grid-area: datos;
}
#habilidadespersonales{
  grid-area: habil;
}
#conocimientos{
  grid-area: cono;
}
#trabajosanteriores{
  grid-area: traj;
}
#habilidadesprogramacion{
  grid-area: prog;
  
}
#proyectosanteriores{
  grid-area: proyec;
}
#idiomas{
  grid-area: idioma;
}
#medioscontacto{
  grid-area: medios;
}